@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Thasadith|Questrial|Merriweather:300');
html, body, .container, #root {
  height: 100%;
}
body {
  font-family: $font--base;
  font-size: 20px;
  color: $gray;
  margin: 0;
  background-color: $gray;
  @include bp($bp--md) {
    font-size: 24px;
  }
}
button {
  padding: 0;
  border: none;
  font-size: 100%;
  background-color: transparent;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font--primary;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 220%;
}
p {
  line-height: 1.5em;
  margin: 0;
}
a {
  cursor: pointer;
}
$spacingUnits: (
  1: $spacing--1,
  2: $spacing--2,
  3: $spacing--3,
  4: $spacing--4,
  5: $spacing--5,
  6: $spacing--6,
  7: $spacing--7,
  8: $spacing--8,
  9: $spacing--9,
  10: $spacing--10
);
@each $unitName, $unitValue in $spacingUnits {
  .u-P-T--#{$unitName} {
    padding-top: $unitValue / 2;
    @include bp($bp--md) {
      padding-top: $unitValue;
    }
  }
  .u-P-R--#{$unitName} {
    padding-right: $unitValue / 2;
    @include bp($bp--md) {
      padding-right: $unitValue;;
    }
  }
  .u-P-B--#{$unitName} {
    padding-bottom: $unitValue / 2;
    @include bp($bp--md) {
      padding-bottom: $unitValue;;
    }
  }
  .u-P-L--#{$unitName} {
    padding-left: $unitValue / 2;
    @include bp($bp--md) {
      padding-left: $unitValue;;
    }
  }
  .u-P--#{$unitName} {
    padding: $unitValue / 2;
    @include bp($bp--md) {
      padding: $unitValue;;
    }
  }
  .u-M-T--#{$unitName} {
    margin-top: $unitValue;
  }
  .u-M-R--#{$unitName} {
    margin-right: $unitValue;
  }
  .u-M-B--#{$unitName} {
    margin-bottom: $unitValue;
  }
  .u-M-L--#{$unitName} {
    margin-left: $unitValue;
  }
  .u-M--#{$unitName} {
    margin: $unitValue;
  }
}
.u-NoMobileMargin {
  @include bpMobileOnly() {
    margin: 0;
  }
}
.u-NoMobilePadding {
  @include bpMobileOnly() {
    padding: 0;
  }
}
.u-MobileFullWidth {
  @include bpMobileOnly() {
    width: 100%;
    margin-bottom: $spacing--5;
  }
}
.u-Flex {
  display: flex;
  flex-wrap: wrap;
  @include bp($bp--md) {
    flex-wrap: nowrap;
  }
}
.u-FlexWrap {
  flex-wrap: wrap;
}
.u-HiddenDesktop {
  display: block;
  @include bp($bp--md) {
    display: none;
  }
}
.u-HiddenMobile {
  display: none;
  @include bp($bp--md) {
    display: block;
  }
}
.u-AlignItemsCenter {
  align-items: center;
}
.u-JustifyContentCenter {
  justify-content: center;
}
.u-JustifyContentSpaceBetween {
  justify-content: space-between;
}
.u-Center {
  text-align: center;
}
.u-Img {
  width: 100%;
  display: block;
}
.u-Col {
  width: 100%;
  box-sizing: border-box;
  @include bp($bp--md) {
    width: 50%;
  }
}
.u-Relative {
  position: relative;
}

.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 99;
  transition: 1s;
  padding: $spacing--5;
  background: rgba($green-medium, .95);
  color: $white;
  justify-content: space-between;
  display: flex;
  box-shadow: 1px 1px 10px $gray;
  flex-direction: column;
  text-align: center;
  align-items: center;
  @include bp($bp--md) {
    flex-direction: row;
    text-align: left;
  }
  &-logoAfter {
    color: $yellow;
  }
  &--active {
    transform: translateY(0);
  }
  &-mobileNav {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 120%;
    color: $white;
    @include bp($bp--md) {
      display: none;
    }
  }
  &-nav {
    display: none;
    @include bp($bp--md) {
      display: block;
    }
    &--active {
      border-top: solid 2px $white;
      width: 100%;
      display: block;
      margin-top: 10px;
    }
  }
  &-navItem {
    margin-right: $spacing--5;
    text-decoration: none;
    color: $white;
    transition: .5s;
    display: block;
    padding: 10px;
    @include bp($bp--md) {
      display: inline-block;
      padding: 0;
    }
    &:hover,
    &--active {
      color: $yellow;
      background-color: rgba($green-dark, .2);
      @include bp($bp--md) {
        background-color: transparent;
      }
    }
  }
}

.Intro {
  height: 100%;
  display: flex;
  align-items: flex-end;
  &-hero {
    background: url('../images/hero.jpg') top center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    transition: 2s;
    &--active {
      right: 0;
      bottom: 0;
    }
  }
  &-tagline {
    font-family: $font--script;
    color: $white;
    font-size: 140%;
    position: absolute;
    line-height: 1.3;
    text-shadow: 2px 2px 10px $gray-light;
    opacity: 0;
    transition: 2s;
    left: 2%;
    bottom: 10%;
    margin: 0 20px 60px 0;
    @include bp($bp--sm) {
      font-size: 200%;
    }
    @include bp($bp--md) {
      font-size: 280%;
      top: 35%;
    }
    &--active {
      opacity: 1;
      bottom: 15%;
      @include bp($bp--md) {
        top: 40%;
        left: 5%;
      }
    }
  }
  &-taglineHighlight {
    background-color: rgba($yellow, .3);
    padding: 0 $spacing--2;
    margin-left: 5%;
  }
  &-more {
    background-color: $white;
    padding: $spacing--4;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    transition: 1s;
    &--inactive {
      transform: translateX(-100%);
    }
  }
}

.About {
  background: $white;
  &-yoga {
    background: url('../images/5.jpg') 0 center no-repeat, url('../images/9.jpg') 100% center no-repeat, url('../images/4.jpg') 170% top no-repeat;
    background-size: 50%;
    transition: 7s;
    color: $white;
    text-shadow: 1px 1px 5px $black;
    display: flex;
    align-items: flex-end;
    height: 100px;
    @include bp($bp--sm) {
      height: 200px;
    }
    @include bp($bp--md) {
      padding-bottom: 10px;
      height: 300px;
    }
    &--active {
      background-position-x: -70%, 30%, 120%;
    }
  }
  &-crossfit {
    background-color: $black;
    color: $white;
    @include bp($bp--md) {
      background: url('../images/crossfit.jpg') right center $black no-repeat;
      background-size: contain;
      text-shadow: 1px 1px 5px $black;
    }
  }
  &-crossfitMobileTitle {
    position: absolute;
    bottom: 0;
    @include bp($bp--md) {
      display: none;
    }
  }
  &-videoArrow {
    font-size: 400%;
    text-align: center;
    margin-top: 20px;
  }
  &-crossfitVideoSection {
    background-color: $green-dark;
    color: $white;
  }
}

.ForSale {
  background: $white;
    padding-top: 20px;
  &-button {
    padding: $spacing--5;
    background-color: $brown;
    color: $yellow;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 120%;
    &:hover {
      background-color: $brown-dark;
    }
  }
}

.Schedule {
  background: $white;
  &-app {
    background-color: $green-dark;
    color: $white;
    padding: 20px;
  }
  &-button {
    padding: 20px;
    background-color: $green-dark;
    color: $white;
    margin-top: 10px;
    &:disabled {
      background-color: $gray-light;
    }
    &:hover {
      background-color: $green;
    }
  }
}
.Day {
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 20px;
  &-preview,
  &-inner {
    background-color: $green-medium;
  }
  &-inner {
    padding: 5px;
  }
  &-preview {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: $yellow;
      color: $green-dark;
    }
  }
  &-event {
    display: flex;
    font-size: 80%;
    padding: 15px 10px;
    margin-top: 6px;
    background-color: rgba($green-dark, .5);
    &:nth-child(even) {
      background-color: rgba($green-dark, .2);
    }
    &Link {
      color: $yellow;
      font-size: 90%;
      word-break: break-all;
    }
    &Title {
      flex: 2;
      padding: 0 20px;
    }
  }
}

.Footer {
  display: block;
  padding-top: 20px;
  background-color: $white;
  @include bp($bp--md) {
    display: flex;
    padding-top: 0;
  }
  &-contact,
  &-social {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    @include bp($bp--md) {
      width: 50%;
    }
  }
  &-contact {
    background: $brown;
    color: $yellow;
  }
  &-contactInfo {
    color: $yellow;
    font-size: 130%;
    display: block;
    margin-top: 10px;
  }
  &-social {
    color: $yellow;
    background: url('../images/3.jpg') center right no-repeat;
    background-size: cover;
  }
  &-socialButton {
    background-color: rgba($brown, .6);
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: $yellow;
    &:hover {
      background: $yellow;
      color: $brown;
    }
  }
}